.header-login{
    display: flex;
    justify-content: space-between;
    padding: 18px;
    background-color: #212529;
    color: #FFFFFF;
    font-size: 7px;
}

.botton-login{
    background-color: #495057;
    border: none;
    color: #ffffff;
    width: 46px;
    height: 22px;
    border-radius: 3px;
}

.botton-registro{
    color: #DEE2E6;
    background-color: #212529;
    border: none;
}

.div-header{
    display: flex;
    gap: 10px;
}

.form-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    width: 384px;
    gap: 15px;
}

.main-login{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-login > input {
   
    border: 1px solid #DEE2E6;
}

.form-input-button{
    width: 200px;
    height: 26px;
    border-radius: 4px;
    
}

.button-blue{
    background-color: #4263EB;
    color: #ffffff;
    border: none;
}

.button-registro{
    font-size: 11px;
    background-color: rgba(0, 0, 0, 0.05);
    border: 1px solid #acb1b6;
    border-radius: 0;
}

h2{
    margin-right: 137px;
    font-size: 22px;
}

a{
    text-decoration: none;
    color: #212529;
}

@media (min-width: 768px){
    h1{
        margin-left: 50px;
    }
    .div-header{
        margin-right: 50px;
    }
    .form-input-button{
        width: 241px;
    height: 30px;
    }
    h2{
        margin-right: 176px;
    }
}