.post-titulo{            
    height: 20px;    
}

.post-descricao{     
    height: 80px;      
}

.text{
    font-size: 12px;
    resize: none;
    border: 1px solid var(--color-white-fixed);
    width: 100%;
   
}

@media (min-width: 768px){
    .text{
        width: 80%;
    }
}